<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>501 training</title>
    <!-- Aggiungere: description, tag -->

    <link rel="stylesheet" href= {{  url_for('static', filename= 'css/training-501.css')}} >
</head>
<body>
    <header>
        <h1>501 training session</h1>
    </header>
    <div class="wrapper">
        <!-- Dashboard -->
        <div class="flex-container" id="dashboard">
            <div id="score"></div>
            <table class="tbl" id="dart-score-table">
                <tr>
                    <td class="dart-score empty" id="first-dart-score empty">&nbsp;</td>
                    <td class="dart-score empty" id="second-dart-score">&nbsp;</td>
                    <td class="dart-score empty" id="third-dart-score">&nbsp;</td>
                </tr>
                <tr>
                    <td class="ndarts-mean-td" id="number-of-dart">🎯 <span id="number-of-darts">0</span></td>
                    <td class="ndarts-mean-td" id="mean" colspan="2">⌀ <span id="mean-score">0.00</span></td>
        
                </tr>
            </table>
        </div>

        <!-- Separator -->
        <div id="separator">
            <div id="separator-inner">Matteo's turn</div>
            <button id="restart">Restart</button>
        </div>

        <!-- Buttons -->
        <div id="sectors-container">
            <button class="sector-btn" id="0">0</button>
            <button class="sector-btn" id="1">1</button>
            <button class="sector-btn" id="2">2</button>
            <button class="sector-btn" id="3">3</button>
            <button class="sector-btn" id="4">4</button>
            <button class="sector-btn" id="5">5</button>
            <button class="sector-btn" id="6">6</button>
            <button class="sector-btn" id="7">7</button>
            <button class="sector-btn" id="8">8</button>
            <button class="sector-btn" id="9">9</button>
            <button class="sector-btn" id="10">10</button>
            <button class="sector-btn" id="11">11</button>
            <button class="sector-btn" id="12">12</button>
            <button class="sector-btn" id="13">13</button>
            <button class="sector-btn" id="14">14</button>
            <button class="sector-btn" id="15">15</button>
            <button class="sector-btn" id="16">16</button>
            <button class="sector-btn" id="17">17</button>
            <button class="sector-btn" id="18">18</button>
            <button class="sector-btn" id="19">19</button>
            <button class="sector-btn" id="20">20</button>
            <button class="sector-btn" id="25">25</button>
            <button class="multiplier-btn" id="double">DOUBLE</button>
            <button class="multiplier-btn" id="triple">TRIPLE</button>
            <button class="action-btn" id="undo">←</button>
            
        </div>
    </div>
    <footer>
        ©️ Matteo Miotto, 2022
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src= {{  url_for('static', filename= 'js/training-501.js')}}></script>
</body>
</html>